default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password: 123456
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: chatbot_development

test:
  <<: *default
  database: chatbot_test

production:
  adapter: postgresql
  encoding: unicode
  pool: 5
